*.aux
*.bbl
*.blg
*.idx
*.knit.md
*.log
*.maf
*.mtc
*.mtc0
*.rds
*.tbc
*.toc
*.utf8.md
*~
.DS_Store
.Rhistory
.Rproj.user
.pytest_cache
.~lock.*
__pycache__
_book
_bookdown_files
docs/*.md
figures/tidynomicon
main.pdf
nostarch.pdf
tidynomicon.Rmd
